section.search-item
  section.photo
    img(src=lot.main-img)
  section.meta
    h3= lot.title
    dl
      dt!= locale.money-eq-name
      dd!= lot.money-eq
      dt!= locale.actions-name
      dd!= lot.actions
